/* Monospace */
@font-face {
    font-family: 'Monaspace Neon';
    src: url('../assets/fonts/monaspace_neon.woff2'), format('woff2'),
      url('../assets/fonts/monaspace_neon.woff'), format('woff');
    font-weight: normal;
    font-style: normal;
}
