<!DOCTYPE html>
<html lang="en">
  <head>
    {{ partial "style_head.html" . }}

    <script defer src="/js/sidebar.js"></script>
    <style>
      {{ range $type, $type_map := .Site.Params.styles }}
        {{ range $key, $key_map := $type_map }}
          .{{$type}}_{{$key}} {
          {{ range $style_key, $style_value := $key_map }}
            {{$style_key}}: {{$style_value}} !important;
          {{ end }}
          }
        {{ end }}
      {{ end }}
    </style>

    {{ block "extra_head" . }}{{ end }}

  </head>

  <body>
    <div class="container">

      <main>

        <div class="main_navigation">
          {{ if not .IsHome }}
            <div>
              <a href="/">Home</a>
            </div>
          {{ end }}

          <div>
            <a href="/about">About</a>
          </div>

          <div>
            <a href="/index.xml">
              <i class="fas fa-rss"></i>
            </a>
          </div>
        </div>

        {{ block "main" . }}{{ end }}
      </main>

      {{ partial "sidebar.html" . }}

    </div>

    {{ block "footer" . }}{{ end }}

  </body>
</html>
