{{ define "main" }}
  <div>{{ .Content }}</div>

  <div class="content_header">
    <div class="content_title">{{ .Page.Title }}</div>

    {{ if not .IsHome }}
      <a class="header_home_link" href="/">Home</a>
    {{ end }}
  </div>

  <!-- orders content according to the "publishdate" field in front matter -->
  {{ range .Pages.ByPublishDate }}

    <article class="list">
      <header class="article_header">
        <h2 class="article_title">
          <a href="{{ .Permalink }}">{{ .Title }}</a>
        </h2>
        <div class="article_meta">
          <time itemprop="datePublished">{{ .Date.Format "2006-01-02" }}</time>
        </div>
      </header>
      <p class="article_summary">
        {{ .Summary }}
      </p>
      <a href="{{ .Permalink }}">Read More</a>
    </article>

  {{ end }}

{{ end }}
