{{ define "main" }}
  {{ $paginator := .Paginate (where .Data.Pages "Type" "posts") }}

  <div class="content_header">
    <div class="content_title">{{ .Page.Title }}</div>
  </div>

  <div class="content_meta">
    Total Posts: <div class="content_count">{{ .Data.Pages | len }}</div>

    <div class="content_pages_label">Total Pages: </div>
    <div class="content_pages_count">{{ $paginator.TotalPages }}</div>
  </div>

  {{ range $paginator.Pages }}

    {{ partial "post/item.html" . }}

  {{ end }}

  {{ template "_internal/pagination.html" . }}

{{ end }}
