{{ define "extra_head" }}
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fuse.js/3.2.0/fuse.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.11.1/jquery.mark.min.js"></script>
  <script src="{{ "js/search.js" | absURL }}"></script>
{{ end }}

{{ define "main" }}

  <div class="content_header no_meta">
    <div class="content_title">Search</div>
  </div>
  <div class="content">
    <form class="search_form" action="{{ "search" | absURL }}">
      <div class="search_box">
        <label class="search_label" for="search_query">
          <i class="fas fa-search"></i>
        </label>
        <input id="search_query" class="search_field" name="s"/ placeholder="Search...">
        <span class="clear_search" for="search_query">
          <i class="fas fa-times"></i>
        </span>
      </div>
    </form>

  </div>

  <br>
  <div class="content_header no_meta">
    <div class="content_title">Results</div>
  </div>

  <div id="search-results"></div>
{{ end }}
