<aside>
  <div id="sidebar_container">
    <div id="blog_name">
      <a href="/">
        <svg width="1.5in" height="1.5in" viewBox="0 0 512 512">
          <defs id="defs1" />
          <circle class="sidebar_icon_last" id="path1-1-8-3-6-4" cy="256.94791" cx="154.66791" r="49.22591" />
          <circle class="sidebar_icon_last" id="path1-1-8-3-6-6-4" cy="256.94791" cx="363.99991" r="49.22591" />
          <circle class="sidebar_icon_last" id="path1-1-8-3-6-6-4-6" cy="137.99991" cx="364.18692" r="49.22591" />
          <circle class="sidebar_icon_first" id="path1-1" cy="138" cx="154.66748" r="49.22591" />
          <circle class="sidebar_icon_first" id="path1-1-8" cy="138" cx="354.18689" r="49.22591" />
          <circle class="sidebar_icon_first" id="path1-1-8-3" cy="256.94788" cx="354" r="49.22591" />
          <circle class="sidebar_icon_first" id="path1-1-8-3-6" cy="375.90826" cx="154.66701" r="49.22591" />
        </svg>
      </a>

    </div>

    <table id="author_table">
      <tr>
        {{ if ne .Site.Params.Email "" }}
        <td>
          <i class="fas fa-envelope" aria-hidden="true"></i>
        </td>
        <td>&nbsp;<a href="mailto:{{ .Site.Params.Email }}">{{ .Site.Params.Email }}</a></td>
        {{ end }}
      </tr>
      {{ range .Site.Params.profiles }}
      {{ partial "profile_link.html" . }}
      {{ end }}
      <tr>
        {{ if ne .Site.Params.Resume "" }}
        <td><i class="fas fa-file-alt" aria-hidden="true"></i></td>
        <td>
          &nbsp;<a href="/resume/{{ .Site.Params.Resume }}" target="_blank">Resume</a>
          {{ if .Site.Params.RawResume }}
          <sup>
            <a id="rawresume" href="/raw/resume" target="_blank">raw</a>
          </sup>
          {{end}}
        </td>
        {{ end }}
      </tr>
      <tr id="sidebar_extra_toggle">
      </tr>
    </table>
  </div>

  <div id="sidebar_toggle_container">
    <button type="button" id="sidebar_toggle_button">
      Show Extras
    </button>
  </div>

  <div id="sidebar_extras">

    <hr>
    <form class="search_form" action="{{ " search" | absURL }}">
      <div class="search_box">
        <label class="search_label" for="sidebar_search">
          <i class="fas fa-search"></i>
        </label>

        <input id="sidebar_search" class="search_field" name="s" placeholder="Search...">
        <span class="clear_search" for="sidebar_search">
          <i class="fas fa-times"></i>
        </span>
      </div>
    </form>

    {{ if .Site.Taxonomies.categories }}
    <hr>
    <table hidden class="taxonomy_table">
      <thead>
        <tr>
          <th>
            <a href="/categories">Categories</a>
          </th>
        </tr>
      </thead>
      <tbody>
        {{ range $category, $map := .Site.Taxonomies.categories }}
        {{ with $.Site.GetPage (printf "/categories/%s" $category) -}}
        <tr>
          <td>
            <a href="{{ .Permalink }}">{{ $category | urlize }}</a>
          </td>
        </tr>
        {{- end -}}
        {{- end -}}
      </tbody>
    </table>
    {{ end }}

    {{ if .Site.Taxonomies.series }}
    <hr>

    <div class="sidebar_section_header">
      <a href="/series">Series</a>
    </div>

    <table class="taxonomy_table">
      <tbody>
        {{ range $series, $map := .Site.Taxonomies.series }}
        {{ with $.Site.GetPage (printf "/series/%s" $series) -}}
        <tr>
          <td>
            <a href="{{ .Permalink }}">{{ $series | urlize }}</a>
          </td>
        </tr>
        {{- end -}}
        {{- end -}}
      </tbody>
    </table>
    {{ end }}

    {{ if .Site.Taxonomies.tags }}
    <hr>
    <div class="sidebar_section_header">
      <a href="/tags">Tags</a>
    </div>

    <ul class="tags_list">
      {{ range $tag, $map := .Site.Taxonomies.tags }}
      {{ with $.Site.GetPage (printf "/tags/%s" $tag) -}}
      <li>
        <a class="tag_item" href="{{ .Permalink }}">
          <div class="tags_{{ $tag | urlize }}">
            {{ $tag | urlize }}
          </div>
        </a>
      </li>
      {{ end }}
      {{ end }}
    </ul>
    {{ end }}

  </div>

</aside>
